:root {
    --color: #99badd;
    --position: 0;
    --radius: 0;
}

.square {
    height: 200px;
    width: 200px;
    border-radius: var(--radius);
    margin-left: var(--position);
    background-color: var(--color);
}

.input{
    display: flex;
flex-direction: column;
width: 300px;
}