.calculator-outer {
    margin: 20vw 40vw;
    border: 2px solid gray;
}


.buttons {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px;
    grid-auto-flow: column;
    grid-gap: 20px;
}
.buttons > * {
    background-color: orange;
    color: white;
    font-size: 30px;
    border: 2px solid blue;
    text-align: center;
}