
.calculator-screen {
    grid-area: screen;
}
.buttons {
    grid-area: calc-buttons;
}

.calculator-outer {
    margin: 15vw 30vw;
    border: 2px solid gray;
    background-color: black;
    /* padding: 40px; */
}



.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8vw 8vw 8vw 8vw 8vw;
    grid-auto-flow: row;
    grid-gap: 35px;
    grid-template-areas:
    "screen"
    "calc-buttons"
    "calc-buttons"
    "calc-buttons"
    "calc-buttons"
}
.calculator-buttons > * {
    background-color: orange;
    color: white;
    font-size: 30px;
    text-align: center;
}
.calculator-screen {
    grid-column: 1/5;
    background-color: darkgrey;
    text-align: end;
}